In [13]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
import sys

# Add src/ to Python path
project_root = Path.cwd().parent  # assuming notebook is inside notebooks/
src_path = project_root / "src"
sys.path.insert(0, str(src_path))

from data_src.point_data_sources.C2I import C2I

from data_src.point_data_sources.OIB import OIB

from data_src.point_data_sources.AEM_AWI import AEM_AWI_PARARCMIP, AEM_AWI_ICEBIRD

In [16]:
#data = C2I(r'C:\Users\ehate\Desktop\ASP\ASP_code_projects\raw_data\C2I_SnowDepths\CRYO2ICE_individul_comparison_BaselineE\2020-2021','2020-2021')

#data = OIB(r'C:\Users\ehate\Desktop\ASP\ASP_code_projects\raw_data\OIB_IDCSI4')

#data = AEM_AWI_PARARCMIP(r'C:\Users\ehate\Desktop\ASP\ASP_code_projects\raw_data\AEM-AWI-PAMARCMIP_2017\datasets')

data = AEM_AWI_ICEBIRD(r'C:\Users\ehate\Desktop\ASP\ASP_code_projects\raw_data\AEM-AWI-ICEBIRD_2019\datasets')

In [17]:
data.get_preprocessed_SD_df()

,time,lat,lon,snow_depth,snow_depth_uncertainty
0,2019-04-02 18:28:25.532,82.719625,-98.644349,0.2907,0.044
1,2019-04-02 18:28:25.588,82.719592,-98.644148,0.2261,0.044
3,2019-04-02 18:28:25.752,82.719494,-98.643557,0.1131,0.044
5,2019-04-02 18:28:25.915,82.719396,-98.642966,0.1454,0.044
8,2019-04-02 18:28:26.161,82.719249,-98.642078,0.0323,0.044
...,...,...,...,...,...
99594,2019-04-10 17:21:41.058,74.091080,-132.406096,0.3311,0.044
99595,2019-04-10 17:21:41.140,74.091114,-132.406101,0.0888,0.044
99596,2019-04-10 17:21:41.222,74.091148,-132.406105,0.4764,0.044
99601,2019-04-10 17:21:41.632,74.091319,-132.406127,0.0646,0.044
99602,2019-04-10 17:21:41.713,74.091353,-132.406132,0.1534,0.044